{% extends 'base.html' %}
{% load extra_tags %}

{% block body_header %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css' integrity='sha512-d0olNN35C6VLiulAobxYHZiXJmq+vl+BGIgAxQtD5+kqudro/xNMvv2yIHAciGHpExsIbKX3iLg+0B6d0k4+ZA==' crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous'>
    <script src='https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js'></script>
    <body onload=''>
{% endblock %}

{% block body_content %}
{#    {{ job_failures_dict }}#}
    <table class='sortable advanced-table table table-hover '>
        <thead class='table-dark'>
            <tr>
                <th><span>Pipeline</span></th>
                <th>Job</th>
                <th>Error Type</th>
                <th>Error File</th>
                <th>Build</th>
                <th>Result</th>
                <th>Error Message</th>
                <th id='date-timestamp'>Build Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for pipeline, pipeline_data in job_failures_dict.items %}
                {% for job, job_data in pipeline_data.items %}
                    {% for failure in job_data %}
                        <tr>
                            <td><a href='{{ failure|trim_last_number_from_url:failure.build_url }}' target='_blank'>{{ pipeline }}</a></td>
                            <td>{{ job }}</td>
                            <td>{{ failure.error_type }}</td>
                            <td>{{ failure.error_file }}</td>
                            <td><a href='{{ failure.build_url }}' target='_blank'>{{ failure.build_number }}</a></td>
                            <td>{{ failure|convert_result_from_num_to_literal:failure.build_result }}</td>
                            <td>{{ failure.error_message }}</td>
                            <td data-sort='{{ failure|convert_literal_date_to_timestamp:failure.build_timestamp }}'>{{ failure.build_timestamp }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>

    <script>
        <!-- Sort by date on load -->
        window.addEventListener('load', function () {
            const el = document.getElementById('date-timestamp');
            if (el) {
                el.click();
            }
          });
    </script>

    <style>
        .sortable thead th:not(.no-sort) {
            cursor: pointer;
        }

        .sortable thead th:not(.no-sort)::after, .sortable thead th:not(.no-sort)::before {
            transition: color 0.1s ease-in-out;
            font-size: 1.2em;
            color: transparent;
        }

        .sortable thead th:not(.no-sort)::after {
            margin-left: 3px;
            content: "▸";
        }

        .sortable thead th:not(.no-sort):hover::after {
            color: inherit;
        }

        .sortable thead th:not(.no-sort)[aria-sort=descending]::after {
            color: inherit;
            content: "▾";
        }

        .sortable thead th:not(.no-sort)[aria-sort=ascending]::after {
            color: inherit;
            content: "▴";
        }

        .sortable thead th:not(.no-sort).indicator-left::after {
            content: "";
        }

        .sortable thead th:not(.no-sort).indicator-left::before {
            margin-right: 3px;
            content: "▸";
        }

        .sortable thead th:not(.no-sort).indicator-left:hover::before {
            color: inherit;
        }

        .sortable thead th:not(.no-sort).indicator-left[aria-sort=descending]::before {
            color: inherit;
            content: "▾";
        }

        .sortable thead th:not(.no-sort).indicator-left[aria-sort=ascending]::before {
            color: inherit;
            content: "▴";
        }

        table.table thead tr th{
            border-bottom: 1px solid lightgray;
        }

        table.table tbody tr td,
        table.table thead tr th,
        table.table thead {
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
        }
    </style>
{% endblock %}
